
body {
    font-family: 'Lato', sans-serif;;
    font-size: 32px;
    color: #fff;
    box-sizing: content-box;  
}

header {
    background-image:linear-gradient(90deg, #004D87 0%, rgba(0, 77, 135, 0) 100%), url(../img/men-header-bg.png), url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover, contain, cover;
    background-position: 0% 0%, 50% bottom, 0% 0%;
    display: flex;
    box-sizing: border-box;
    padding: 50px 95px;
}
h1 {
    font-size: 40px; 
    padding: 50px auto; 
}
.header__content .worth{
    list-style-image: url(../img/header-marker.png);
    padding-bottom: 100px;
}
.worth__item {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 25px;
}
.worth__item:nth-child(2) {
    padding-bottom: 15px;
}
.worth__item .term {
    font-size: 44px;
    font-weight: 700;
    color: #5BFF27;
}
.header__content .features {
    list-style-type: none;
    padding-inline-start: 0px;
}
.feature__item {
    display: inline-block;
    padding:10px
}
.header__form {
    padding-top: 100px;
}
.header__form h2 {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
form {
    background-color:#FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 50px 20px;
    width: 385px;

}
.form__picture {
    position: relative;
    top: -70px;
}
.form__sale {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top:-60px;
}
.percent {
   font-size: 36px; 
}
.form__price {
    font-size: 24px;
    font-style: uppercase;
    font-weight: 900;
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
}
.form__price span {
    font-size: 44px;
    color: #F03500;
    padding-left: 10px;
}
select {
    background:url(../img/form-country.svg) no-repeat left;
    box-sizing:border-box;
    width: 80%;
    border:none;
    border-bottom:1px solid #757575;
    font-size: 16px;
    margin-top: 20px;
    padding: 20px 25px;
}
input {
    background-color:#FFFFFF;
    box-sizing:border-box;
    width: 80%;
    border:none;
    border-bottom:1px solid #757575;
    font-size: 16px;
    color: #000000;
    padding: 20px 25px;
    margin-top: 30px;
    
}
.form__name {
    background:url(../img/form-name.svg) no-repeat left;
}
.form__tel {
    background:url(../img/form-phone.svg) no-repeat left;
}
input:focus {
    outline:none;
    border-bottom:1px solid #EB410D;
}
select:focus {
    outline:none;
    border-bottom:1px solid #EB410D;
}
.form__btn {
    background: #EB410D;
    box-shadow: 0px 4px 16px #E86201;
    transition: width 2s;
    box-sizing:border-box;
    width: 80%;
    height: 80px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 10px;
    margin-top: 30px; 
   
}
.btn__text:after {
    content: url(../img/form-btn.svg);
    padding-left: 5px;
    position: relative; 
    top: 5px; 
}
.form__btn img{
    padding-left: 10px;
}
.form__btn:hover {
    background: #5BFF27;
    box-shadow: 0px 4px 16px #47a11d;
}
.form__btn:active {
    background: #c4390f;
    box-shadow: 0px 4px 16px #cc5601;
}
.form__btn:focus {
    outline: none;
    background: #f84b16cc;
    box-shadow: 0px 4px 16px #e46103a6;
}
.form__remainder { 
    font-size: 16px;
    color: #000000;
    margin-top: 30px;
}
@media (max-width: 768px) {
    header {
        background-size: cover, 80%, cover;
        background-position: 0% 0%, right top, 0% 0%;
        display:flex;
        flex-wrap: wrap;
        padding: 0px;
    }
    .header__content {
        padding: 70px 30px;
    }
    .logo{
        width: 228px;
        height: 64px;
    }
    .header__content h1 {
        font-size: 48px;
        letter-spacing: 1px;
        margin-top: 55px;
    }
    .header__content .worth{
        padding-bottom: 20px;
        margin-block-end: 0em;
    }
    .worth__item {
        font-size: 24px;
        letter-spacing: 1px;
        padding-bottom: 20px;
    }
    .worth__item:nth-child(2) {
        padding-bottom: 12px;
    }
    .features {
        margin-block-start: 0em;
    }
    .header__form {
        background-color: white;
        display: flex;
        justify-content: center;
        width: 100%; 
        margin-top: 20px;
    }
    .form__picture {
        position: relative;
        top: -190px;
    }
    .form__sale {
        margin-top: -170px;
    }
    .header__order {
        padding: 10px 20px 50px 20px;
    }
   
}
@media (max-width: 460px) {
    header {
        background-size: cover, 90%, cover;
        background-position: 0% 0%, 300% 20%, 0% 0%;
        display:flex;
        flex-wrap: wrap;
        padding: 0px;
    }
    .header__content {
        padding: 30px 10px 30px 20px;
    }
    .header__content .logo img {
        width: 150px;
    }
    .header__content h1 {
        font-size: 32px;
        margin: 0px;
    }
    .worth .worth__item{
        font-size: 16px; 
        padding-bottom: 10px;
    }
    .worth__item .term {
        font-size: 20px;
        font-weight: 700;
        color: #5BFF27;
        padding-left: 5px;
    }
    .features {
        padding-inline-start: 0px;
    }
    .feature__item img {
        width: 60px;
        height: 60px;
    }
    .header__form {
        background-color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 70px;
        padding-top: 0px;
    }
    .header__order {
        padding: 80px 20px 50px 20px;
    }
    .form__btn {
        width: 100%;
    }
    input, select {
        width: 100%;
    }
}
@media (max-width: 360px) {
    header {
        background-size: cover, 130%, cover;
        background-position: 0% 0%, -70% top, 0% 0%;
    }
    .header__content {
        padding: 30px 0px 30px 20px;
    }
    .header__content h1 {
        font-size: 30px;
        margin: 0px;
    }
    .worth .worth__item{
        font-size: 18px; 
        padding-bottom: 10px;
    }

    .feature__item {
        padding:5px;
    }
    .feature__item img {
        width: 55px;
        height: 55px;
    }
    
    .header__order {
        padding: 80px 20px 50px 20px;
    }
   
}